body{
	font-family:Roboto, Geneva, Tahoma, sans-serif;
	color: white;
}
.psheader{
	background-color: #164863 ;
	position: sticky;
	width: 100%;
	top: 0;
	z-index: 1;
}
.psfooter{
	background-color: #164863;
}
.imgHeader{
	display: block;
	height: 100%;
	background-image: url ("./imgs/Software_Development.jpg");
}
.psTitulo{
	display: flex;
	position: relative;
	top: 400px;
	font-size: 4em;
}
.psSubtitulo{
	display: flex;
	position: relative;
	top: 400px;
	font-size: 3em;
}
.profile-img {
	height: 150px;
	border-radius: 50%;
}
.contact-background-image{
	background-image: url('./imgs/softwaredevelopmentbg.jpg');
	width: 1330px;
	height: 840px;
}
.psContactText{
	color: #100840;
}
.psContactTitulo{
	font-size: 4em;
}
.psContactSubtitulo{
	font-size: 3em;
}
.psContactoTexto{
	font-size: 2em;
	font-style: bold;
}
.pscontacto{
	font-size: 4cap;
	color: #100840;
}

